@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Merriweather:ital,wght@0,300..900;1,300..900&family=Saira:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

@theme {
  --font-sans: "Saira", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
  --font-merriweather: "Merriweather", serif;
  --font-saira: "Saira", sans-serif;
}

body {
  font-family: "Saira", sans-serif;
}
